

/* shared section */
nav{
  justify-content: space-between;
}
.mw{
  max-width: 1140px;
  margin: 0 auto; 
  
}
.orange_color{
    color: #E95A08;
}
.text_color{
    color: #0000005A
}

.flex{
  display: flex;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Font import */


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-size: 22px;
  font-style: normal;
}

/* =================   nav section  ==================*/
.nav_iteam{
  display: flex;

  
}
.nav_iteam a{
  text-decoration: none;
  color: #0000005A;
}


.hero_section{
  align-items: end;
  margin-top: 120px;
}
h1.fresh_flower {
  font-size: 65px;
}

.hero_tag{
  
  max-width: 50%;
  align-content: center;
}

.hero_image{
  max-width: 570px;
}







.section_one{
  max-width: 888px;
}
.section_one p, .section_one h1{
  text-align: center;
}
.plants_text{
  font-size: 50px;
 
}



.card{
  width:270px ;
  height: 484.95px;
  margin-top: 30px;
}
.product_section{
  gap:20px;
  flex-wrap: wrap;

}
.card h3{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 ;
  font-size: 22px;
  font-style: normal;
  color: rgba(17, 17, 17, 1);
  text-align: center;
}

.card p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  color: rgba(17, 17, 17, 1);
  text-align: center;
}
.card button{

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  color: #ffffff;
  background-color: #E95A08;
  border: none;
  width: 270px;
  height: 50px;
  
  
}





.fnp{
  margin-top: 200px;
  align-items: flex-start;
}
.image_1 img{
    width: 540px;
    height: 597px;

}

.image_2 img{
  width: 286px;
  height: 286px;
  padding: 10px;
  animation: rotate 15s linear infinite;
}
.image_2{
  
  position: absolute;
  top:1920px;
  left:700px
 
}

.list{
  font-size: 22px;
  font-weight: 400;
  
  
}

.list ul{
  list-style-type: disc;
}

.fnph1{
  font-size: 50px;
}
.fnp_right_side{
  width: 540px;
  padding-left: 30px;
  
}





.latest_Deal{
  text-align: center;
  max-width: 888px;
}
.deals{
  font-size: 50px;
  text-align: center;

}

.img_2{
  flex-direction: column;
  max-height: 423px;
  
}
.img_2 img{
    width: 366.2px;
  height: 206px;
border-radius: 15px;
position: relative
}

.img_03_section{
  width: 753px;
  height: 423.12px;
  gap: 28px;
  
}

.img_03_section img{
border-radius: 15px;
}




.subscription-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  height: 533px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);

  text-align: center;
  color: #fff;
}

.input_section{
  width: 830px;
}
.input_section h1{
  font-size: 50px;
}
.overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


.email-form {
  display: flex;
  max-width: 830px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.email-form input[type="email"] {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
}

.email-form button {
  background-color: #E95A08;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-form button:hover {
  background-color: #d94e20;
}

.footer_middle{
  display: flex;
}
.list_one a,.list_two a{
  text-decoration: none;
  list-style: none;
}

footer{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer_left{
  width:359px;
}
.footer_right_icon img{
  padding: 15px;
}

